* {
    font-family: Helvetica, Arial, sans-serif;
    background-image: url("https://image.freepik.com/free-photo/colorful-sprinkles-scattered-table_23-2148081704.jpg");

  }
      
  h1 {
    color: white;
    background-color: #ffc0cb;
  }
   
   
  p, 
  li {
    color: white;
    font-size: 18px;
    background-color: #ffc0cb;
  }
   
   
  a {
    text-decoration: none;
  }
