* {
    font-family: Helvetica, Arial, sans-serif;
  }

  html {
    background-color: #ffeedc;
  }

  header {
    color: #ce7b42;
    text-align: center;
  }

  h1 {
    font-family: Optima, Geneva, Tahoma, sans-serif;
  }
  h3 {
    color: black;
    text-align: left;
  }
   
  p, 
  li {
    color: black;
    font-size: 18px;
    text-align: left;
  }
   
  a {
    text-decoration: none;
  }
